<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary"></i>
                    <h3>Offline and Online Courses</h3>
                    <p class="text-muted">Wide range of blockchain courses and workshops.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-ship wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Help to Launch</h3>
                    <p class="text-muted">Guidance and partnership with early stage blockchain startups!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Student research</h3>
                    <p class="text-muted">Fulltime research guidance for short term and long term projects.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-building wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Corporate Partnership</h3>
                    <p class="text-muted">Bootcamp workshops and support to corporates!</p>
                </div>
            </div>
        </div>
    </div>
</section>
